@media screen and (max-width: 1199px) {
    .business {
        display: none;
    }
}
.business {
    padding-bottom: 94px;
 }
 .business__list {
     display: flex;
     justify-content: space-between;
 }
 .business__roster {
     position: relative;
 }
 .business__roster-block {
     position: absolute;
     width: 370px;
     height: 70px;
     background-color: rgba(47, 48, 58, 0.8);
     bottom: 0;
 }
 .business__roster-text {
     font-size: 14px;
     line-height: 16px;
     text-align: center;
     text-transform: uppercase;
     color: $primary-bg-color;
     padding: 27px 0;
 }