.hero {
    background-color: $secondary-bg-color;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
      height: 600px;
    }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../img/header@2x.jpg);
  }
}
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    color: $primary-bg-color;
    text-transform: uppercase;
    margin: 0px auto 30px auto;
    width: 360px;
    @media screen and (min-width: 1200px) {
      .hero__title {        
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;        
        width: 696px;
      }
    }
}
.hero__button {
    color: $primary-bg-color;
    background-color: $hover-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0px auto;
    box-shadow: 0px 4px 4px $box-shadow;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
}