.hero {
    background-color: $primary-bg-color;
    padding-top: 31px;
    margin-left: auto;
    margin-right: auto;   
    // @media screen and (min-width: 768px) {
    //   // max-width: 768px;
    //   // padding-top: 200px;
    //   // padding-bottom: 200px;
    //   // height: 600px;
    // }
}
.hero__container {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid $border-input;
    box-shadow: 0px 4px 0px $box-shadow;
    @media screen and (min-width: 768px) {
      display: flex;
    }
}
.hero__container-image {
    @media screen and (min-width: 768px) {       
        width: 400px;
        height: 250px;
    }
    @media screen and (min-width: 1200px) {       
        width: 270px;
        margin-right: 0;
        margin-bottom: 0;
    }
}
.hero__container-box {
  padding: 30px 30px 14px 30px;  
  @media screen and (min-width: 768px) {
    padding: 15px 15px 14px 15px;
  }
}
.hero__container-box-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42;
  color: $primary-title-text-color;
}
.hero__container-box-block {
  margin-top: 14px;
}
.hero__container-box-block-title {
  display: flex;
}
.hero__container-box-block-title-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: $primary-text-color;
}
.hero__container-box-block-title-slash {
  color: $secondary-text-color;
  margin-left: 8px;
  margin-right: 8px;
}
.hero__container-box-block-title-date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: $secondary-text-color;
  text-transform: uppercase;
}
.hero__container-box-block-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $extra-text-color;
  margin-top: 12px;
}
.hero__container-box-block-comment {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.hero__container-box-block-comment-svg {
  margin-right: 9px;
}
.hero__container-box-block-comment-namber {
  color: $secondary-text-color;
}