.money {
   background-image: linear-gradient(161.3deg, #3D4251 7.63%, #272B35 90.9%);
 }
 .money__container {
   padding-top: 60px;
   padding-bottom: 40px;
   padding-left: 30px;
   padding-right: 30px;
 }
 .money__title {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 32px;
   line-height: 1.37;
   text-align: center;
   color: $primary-bg-color; 
   padding: 0 30px; 
 }
 .money__list {
   margin-top: 40px;
 }
 .money__list-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: $border-solid;
   border: 4px solid $border-solid;
   border-radius: 6px;
   margin-bottom: 20px;
   padding: 44px 53px;
   &:last-child {
      margin-bottom: 0;
   }
   &:hover {
      border: 4px solid $warn-text-color;
   }
 }
 .money__list-item-title {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.28;
   letter-spacing: 0.8px;
   text-transform: uppercase;
   color: $primary-text-color;
 }
 .money__list-item-line {
    display: block;
    width: 24px;
    margin-top: 12px;
    border-bottom: solid 2px $line-color;
 }
 .money__list-item-box {
    display: flex;
    align-items: flex-end;
    margin-top: 16px;
    padding-bottom: 18px;
    border-bottom: solid 1px $border-solid;
 }
 .money__list-item-box-block {
    display: flex;
    align-items: center;
 }
 .money__list-item-box-sign {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 1.33;
   color: $primary-title-text-color;
 }
 .money__list-item-box-price {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 56px;
   line-height: 1.18;
   letter-spacing: -1.5px;
   color: $primary-title-text-color;
 }
 .money__list-item-box-token { 
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 1.33;
   color: $primary-title-text-color;
 }
 .money__list-item-text {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.57;
   color: $primary-text-color;
   margin-top: 27px;
 }
 .money__list-item-button {
    margin-top: 30px;
    border: 1px solid $extra-color;
    border-radius: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: $border-solid;
    width: 100%;
    cursor: pointer;
    &:hover {
       background-color: $warn-text-color;
       border: 1px solid $warn-text-color;
    }
 }
 .money__list-item-text-price {
    text-decoration-line: line-through;
    color: $price-color;
    margin-right: 8px;
 }
 .money__list-item-text-save {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.57;
   color: $primary-text-color;
 }
.money__block {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 36px;
}
.money__block-list {
   margin-top: 22px;
}
.money__block-title {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 1.56;
   color: $primary-bg-color;
}
.money__block-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.money__block-list-item {
   flex-basis: calc((100% - 30px) / 3);
   margin-bottom: 30px;
   &:last-child {
      margin-bottom: 0;
   }
}
.money__roster {
   margin-top: 40px;
}
.money__roster-item {
   display: flex;
   justify-content: center;
   margin-bottom: 34px;
   &:last-child {
      margin-bottom: 0;
   }
}
.money__roster-item-text {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.28;
   letter-spacing: 0.8px;
   text-transform: uppercase;
   color: $extra-text-color;
}
.money__roster-item-text-svg {
   fill: $extra-text-color;
}
