.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: $primary-bg-color;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
  
  .menu-container.is-open {
    transform: translateX(0);
}
.menu-toggle {
    margin-top: 0;
    margin-bottom: 0;
}
.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
} 
.mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-list {
    display: flex;
    margin-top: 64px;
    margin-left: auto;
}
.mobile-social {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:first-child {
      padding-left: 0;
  }
  &:last-child {
      border-right: none;
  }
}
.mobile-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
}