.footer__block-info {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
.footer__block-info-box-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $primary-text-color;
}
.footer__block-info-box-company {
    margin-top: 18px;
}
.footer__block-info-box-company-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: $secondary-text-color;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.footer__block-info-utilities-programs-list {
    margin-top: 18px;
}
.footer__block-info-utilities-more {
    margin-top: 35px;
}
.footer__block-info-utilities-more-list {
    margin-top: 18px;
}