.footer__social {
    width: 206px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
        margin-top: 5px;
        margin-right: 89px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-top: 12px;
        margin-left: 70px;
    }
}
.footer__social-text {
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
    margin-bottom: 20px;
}
.footer__social-list {
    display: flex;
    justify-content: space-between;
}
.footer__social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $hover-color;
    }
}
.footer__social-link svg {
    fill: $primary-bg-color;   
}