.footer {
    background-color: $primary-bg-color;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    // height: 603px;
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     width: 768px;
    //     height: 463px;
    // }
    // @media screen and (min-width: 1200px) {
    //     padding: 0 15px;
    //     max-width: 1600px;
    //     height: 100%;
    // }
}
.footer__block-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: $title-text-color;
}
.footer__block {
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;  
    max-width: 480px;
    // @media screen and (min-width: 1200px) {
    //     display: flex;
    // } 
}
