.header__box {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .header__box {
      display: none;
    }
}
@media screen and (min-width: 768px) {
    .header__nav {
        margin-left: 88px;
    }
    .header__nav-list{
        display: flex;
        width: 294px;
        justify-content: space-between;    
    }
}
@media screen and (min-width: 1600px) {
    .header__nav {
        margin-left: 93px;
    }
}

.header__nav-roster {
    position: relative;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
       margin-bottom: 0;
       padding: 32px 0;
    }
    @media screen and (min-width: 768px) {
        padding: 25px 0;
     }
}
.header__nav-roster:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .header__nav-line::after {
        position: absolute;
        content: ""; 
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: solid 4px $extra-color;
        border-radius: 2px;
    }
}
.header__nav-link {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    color: $primary-text-color;
    letter-spacing: 1px;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    text-transform: uppercase;
    &:hover,
    &:focus {
        color: $extra-color;
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.14;           
    }
}
.header__nav-link svg {
    margin-left: 8px;
}
.header__general-link {
    color: $primary-text-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover,
    &:focus {
        color: $extra-color;
    }
}
.header__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FFFFFF;

    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    border-radius: 30px;
    border: none;
    padding: 11px;
    margin-left: auto;
}