.client {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
    }
}
.client__box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin-right: 0;
        justify-content: space-between;
}
}
.client__box-link {
    display: flex;
    border: 1px solid $box-link-color;
    border-radius: 4px;
    max-width: 210px;
    height: 92px;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    color: $box-link-color;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
    &:hover,
    &:focus {
        border: 1px solid $hover-color;
        color: $hover-color;
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
        max-width: 226px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100%/6 - 25px);
        margin-right: 0;
        margin-bottom: 0;
    }
}
.client__box-link:nth-child(2n) {
    margin-right: 0;
    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .client__box-link:nth-child(3n+3) {
        margin-right: 0;
    }
}
.client__box-link:nth-child(n+5) {
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .client__box-link:nth-child(n+4) {
        margin-bottom: 0;
    }
}
.client__svg-link {
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: $hover-color;
    }
}