    $primary-text-color: #323642;
    $secondary-text-color: #889099;
    $primary-bg-color: #FFFFFF;
    $gradient-color: #5DDF5A;
    $extra-color: #4CB649;
    $background-color: #22252E;
    $secondary-bg-color: #323642;
    $title-text-color: #000;
    $primary-title-text-color:#22252E;
    $border-input: #D7D8D9;
    $border-solid: #EBECED;
    $warn-text-color: #FF8D00;
    $extra-text-color: #4CB649;
    $box-shadow: #D7D8D9;
    $line-color: #26a72c;
    $price-color: #F24458;