    $primary-text-color: #323642;
    $secondary-text-color: #889099;
    $primary-bg-color: #FFFFFF;
    $hover-color: #2196F3;
    $extra-color: #4CB649;
    $background-color: #22252E;
    $secondary-bg-color: #323642;
    $title-text-color: #000;
    $primary-title-text-color:#22252E;
    $border-input: #D7D8D9;
    $warn-text-color: #FF8D00;
    $extra-text-color: #4CB649;

    //
    $box-shadow: rgba(0, 0, 0, 0.15);
    $box-link-color: #AFB1B8;
    //